In [1]:
import pymongo

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://rohannair:Rohan2939@cluster0.wrn1fnz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri)
db=client.test

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [2]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://test:test@cluster1.51k1cva.mongodb.net/?retryWrites=true&w=majority&appName=Cluster1"

# Create a new client and connect to the server
client = MongoClient(uri)
db=client.test

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
print(db)

Database(MongoClient(host=['ac-ep3tevk-shard-00-01.51k1cva.mongodb.net:27017', 'ac-ep3tevk-shard-00-02.51k1cva.mongodb.net:27017', 'ac-ep3tevk-shard-00-00.51k1cva.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster1', authsource='admin', replicaset='atlas-i5umjj-shard-0', tls=True), 'test')

In [4]:
db1=client.test1

In [5]:
db2=client['rohan']

In [6]:
client.list_database_names()

['rohan', 'admin', 'local']

In [7]:
# a table in sql is called as a collection in mongodb
coll1=db2['datascience']

In [8]:
dict1={
    'name': 'rohan',
    'age': 21,
    'city': 'bangalore',
    'pets': ['julie','mini']
    }

In [9]:
coll1.insert_one(dict1)
#one document is equivalent to one row in sql

InsertOneResult(ObjectId('666ecfaa4216215e502a8dfc'), acknowledged=True)

In [10]:
dict2={
    'name': 'rohan',
    'age': 21,
    'city': 'bangalore',
    'pets': ['julie','mini'],
    'phone_number': 987766600
    }

In [11]:
coll1.insert_one(dict2)

InsertOneResult(ObjectId('666ecfaa4216215e502a8dfd'), acknowledged=True)

In [12]:
data = [{'7058': 'sravan', '7059': 'jyothika', 
         '7072': 'harsha', '7075': 'deepika'},
         
        {'7051': 'fathima', '7089': 'mounika', 
         '7012': 'thanmai', '7115': 'vasavi'},
         
        {'9001': 'ojaswi', '1289': 'daksha', 
         '7045': 'parvathi', '9815': 'bhavani'}]

In [13]:
coll1.insert_many(data)

InsertManyResult([ObjectId('666ecfaa4216215e502a8dfe'), ObjectId('666ecfaa4216215e502a8dff'), ObjectId('666ecfaa4216215e502a8e00')], acknowledged=True)

In [14]:
for i in coll1.find():
    print(i)

{'_id': ObjectId('666ec1ef35e55669940cf1fe'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ec3ec35e55669940cf1ff'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}
{'_id': ObjectId('666ec7ce35e55669940cf206'), '7058': 'sravan', '7059': 'jyothika', '7072': 'harsha', '7075': 'deepika'}
{'_id': ObjectId('666ec7ce35e55669940cf207'), '7051': 'fathima', '7089': 'mounika', '7012': 'thanmai', '7115': 'vasavi'}
{'_id': ObjectId('666ec7ce35e55669940cf208'), '9001': 'ojaswi', '1289': 'daksha', '7045': 'parvathi', '9815': 'bhavani'}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b05'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b06'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b07'), '7058': 'sravan', '7059': 'jyothika', '7072': 'harsha', '7075': 'deepika'}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b08'), '7051': 'fathima', '7089': 'mounika', '7012': 'thanmai', '7115': 'vasavi'}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b09'), '9001': 'ojaswi', '1289': 'daksha', '7045': 'parvathi', '9815': 'bhavani'}
{'_id': ObjectId('666ecfaa4216215e502a8dfc'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ecfaa4216215e502a8dfd'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}
{'_id': ObjectId('666ecfaa4216215e502a8dfe'), '7058': 'sravan', '7059': 'jyothika', '7072': 'harsha', '7075': 'deepika'}
{'_id': ObjectId('666ecfaa4216215e502a8dff'), '7051': 'fathima', '7089': 'mounika', '7012': 'thanmai', '7115': 'vasavi'}
{'_id': ObjectId('666ecfaa4216215e502a8e00'), '9001': 'ojaswi', '1289': 'daksha', '7045': 'parvathi', '9815': 'bhavani'}

In [15]:
for i in coll1.find({'name':'rohan'}):
    print(i)

{'_id': ObjectId('666ec1ef35e55669940cf1fe'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ec3ec35e55669940cf1ff'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b05'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b06'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}
{'_id': ObjectId('666ecfaa4216215e502a8dfc'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ecfaa4216215e502a8dfd'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}

In [16]:
for i in coll1.find({'name':{"$in":['rohan','roh','han']}}):
    print(i)

{'_id': ObjectId('666ec1ef35e55669940cf1fe'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ec3ec35e55669940cf1ff'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b05'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b06'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}
{'_id': ObjectId('666ecfaa4216215e502a8dfc'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ecfaa4216215e502a8dfd'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}

In [17]:
for i in coll1.find({"age":{'$lte': 23}}):
    print(i)
#$lte= less than and equal to & $gte=greater than and equal to

{'_id': ObjectId('666ec1ef35e55669940cf1fe'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ec3ec35e55669940cf1ff'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b05'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ecc2b62ea3d27e5a03b06'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}
{'_id': ObjectId('666ecfaa4216215e502a8dfc'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini']}
{'_id': ObjectId('666ecfaa4216215e502a8dfd'), 'name': 'rohan', 'age': 21, 'city': 'bangalore', 'pets': ['julie', 'mini'], 'phone_number': 987766600}

In [21]:
coll1.update_many({'name':'rohan'},{'$set':{'name':'Rohan Sridhar'}})

UpdateResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000022'), 'opTime': {'ts': Timestamp(1718538324, 4), 't': 34}, 'nModified': 0, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1718538324, 4), 'signature': {'hash': b"Ii(kE\xec=\xdf\xb15\x1c\x05TE'\x00y\xa2\xeby", 'keyId': 7340664055977213959}}, 'operationTime': Timestamp(1718538324, 4), 'updatedExisting': False}, acknowledged=True)