In [11]:
# in memory database
import sqlite3
db=sqlite3.connect('practise.db')

In [12]:
c=db.cursor()

In [13]:
c.execute('create table practise(name text,id int,marks real)')

In [14]:
c.execute('insert into fullstackds values("rohan",123,899)')

In [15]:
data=c.execute('select * from fullstackds')

In [16]:
for i in data:
    print(i)

('rohan', 123, 899.0)
('rohan', 123, 899.0)

In [18]:
c.execute("create table departments(department_id INTEGER PRIMARY KEY,department_name TEXT NOT NULL)")

In [21]:
c.execute("CREATE TABLE employees (employee_id INTEGER PRIMARY KEY,first_name TEXT NOT NULL,last_name TEXT NOT NULL,department_id INTEGER,FOREIGN KEY (department_id) REFERENCES departments(department_id))")

In [22]:
c.execute("INSERT INTO departments (department_id, department_name)VALUES(1, 'Human Resources'),(2, 'Finance'),(3, 'IT'),(4, 'Marketing')")

In [23]:
c.execute("INSERT INTO employees (employee_id, first_name, last_name, department_id)VALUES(101, 'John', 'Doe', 1),(102, 'Jane', 'Smith', 2),(103, 'Emily', 'Jones', 3),(104, 'Michael', 'Brown', 4),(105, 'Sarah', 'Davis', NULL)")

In [25]:
join_ops=c.execute("SELECT employees.employee_id,employees.first_name,employees.last_name,departments.department_name FROM employees JOIN departments ON employees.department_id = departments.department_id")

In [26]:
for i in join_ops:
    print(i)

(101, 'John', 'Doe', 'Human Resources')
(102, 'Jane', 'Smith', 'Finance')
(103, 'Emily', 'Jones', 'IT')
(104, 'Michael', 'Brown', 'Marketing')